/* Reset CSS */
/* -------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Texts */
/* -------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

/* Global CSS */
/* -------------------------------------------------------------- */
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: url("../img/bg.svg") no-repeat center center/cover;
  background-attachment: fixed;
}

.container {
  position: relative;
  height: 100vh;
}

nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 80px;
  padding: 0 20px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 80px;
}
nav button {
  border: none;
  background: transparent;
}

aside {
  position: fixed;
  left: 0;
  display: grid;
  place-items: center;
  width: 80px;
  height: 100vh;
}
aside p {
  transform: rotate(-90deg);
  color: rgba(0, 0, 0, 0.4);
}

main {
  padding: 80px 100px 20px 100px;
  overflow: scroll;
  overflow: hidden;
}

footer {
  text-align: center;
  padding: 1rem;
  background: linear-gradient(45deg, #e002e4, #016bcf);
  color: #ffffff;
}

/* Custom */
/* -------------------------------------------------------------- */
.cards {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.countries::-webkit-scrollbar{
  display: none;
}
.countries{
  overflow: hidden;
  gap: 1rem;
  display: flex;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.countries li{
  margin: 2rem;
  height: 200px;
  width: 200px;
  border: 1px solid #ccc;
  height: 200px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 1vw;
    display: grid;
    place-items: center;
}

.countries li a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 1vw;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: transparent;
}

.countries li a:hover{
  background: rgba(0,0,0,0.5);
  color: #ffffff;
}

.card {
  width: 300px;
  height: 100px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 1vw;
  color: #000000;
  font-weight: 800;
  display: grid;
  place-items: center;
  transition: all 250ms ease-in-out;
}

.card:hover {
  background: linear-gradient(45deg, #e002e4, #016bcf);
  color: #ffffff;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.text-center {
  text-align: center;
}

.big-text {
  font-size: 6vw;
  font-weight: 800;
  margin: 3rem 0;
}

.continent-subtitle{
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(65,169,255,0) 48%, rgba(38,151,255,1) 49%, rgba(235,0,255,1) 51%, rgba(235,0,255,0) 52%, rgba(235,212,255,0) 100%);
}
.continent-subtitle h3{
  /* position: absolute; */
  background: #ffffff;
  border-radius: 5rem;
  width: fit-content;
  padding: 0.5rem 1rem;
}

/* Media Queries */
/* -------------------------------------------------------------- */
@media (width <= 768px) {
  nav {
    max-height: 50px;
  }
  nav img {
    width: 50px;
  }
  aside {
    display: none;
  }
  aside p {
    display: none;
  }
  main {
    padding: 50px 20px 20px 20px;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */